extends layout

block title
  title Shorty
  
block content
  h1 Shorten your URL
  br
  form(method='POST', action='/')
    #form-group
      input.form-control(name='url', type='text' placeholder='Enter a URL to shorten')
    br
    input.btn.btn-primary(type='submit', value='Submit')
  br
  if theUrl
    h5!= "Your shortened URL: localhost:3000/" + theUrl
